/*
 用紙サイズやトンボなど、チラシのデザインに関係しない部分のcss。
 通常このファイルを編集する必要はない。
*/

@page {
 size: A3;
 margin: 0;
}
@media print {
 body {
  width: 297mm; /* for Chrome */
 }
 .guide {
  visibility: hidden;
 }
 .instruction {
  display: none;
 }
}
@media screen {
 body {
  background: #eee;
 }
 .a3paper {
  background:white;
  box-shadow: 0 0 5mm rgba(0,0,0,.3);
  margin: 5mm auto;
 }
}
body {
 margin: 0;
}
.instruction {
 margin: 2em auto;
 font-family: "HiraMaruProN-W4";
 line-height: 2;
}
.instruction ol {
 display: table;
 margin: 0 auto;
}
.instruction ol li {
 margin: 0;
}
.a3paper {
 width: 297mm; height: 413mm; /* A3 (297x420mm) */
 /* 高さをちょうど 420mm にするとPDF出力時「A3用紙に入り切らない」と
    判定されるので、少し小さめにしている */
 position: relative;
}
article.a4area {
 box-sizing:border-box;
 width: 216mm; height: 303mm; /* A4 (210x297mm) + 6mm */
 position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;
}
table.tombo,
table.tombo tr,
table.tombo td {
 box-sizing:border-box;
 border-width:1px;
 border-style:solid;
 border-color: rgba(0,0,0,0);
}
table.tombo {
 border-collapse: collapse;
 width: 250mm; height: 337mm; /* A4(210 x 297mm) + 40mm */
 position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;
}
table.tombo td:nth-child(1),
table.tombo td:nth-child(10){
 width: 14mm;
}
table.tombo td:nth-child(2),
table.tombo td:nth-child(3),
table.tombo td:nth-child(8),
table.tombo td:nth-child(9){
 width: 3mm;
}
table.tombo td:nth-child(5),
table.tombo td:nth-child(6){
 width: 20mm;
}
table.tombo tr:nth-child(1),
table.tombo tr:nth-child(10){
 height: 14mm;
}
table.tombo tr:nth-child(2),
table.tombo tr:nth-child(3),
table.tombo tr:nth-child(8),
table.tombo tr:nth-child(9){
 height: 3mm;
}
table.tombo tr:nth-child(5),
table.tombo tr:nth-child(6){
 height: 20mm;
}
table.tombo tr:nth-child(1) td:nth-child(2),
table.tombo tr:nth-child(1) td:nth-child(3),
table.tombo tr:nth-child(1) td:nth-child(5),
table.tombo tr:nth-child(1) td:nth-child(7),
table.tombo tr:nth-child(1) td:nth-child(8),
table.tombo tr:nth-child(2) td:nth-child(2),
table.tombo tr:nth-child(2) td:nth-child(3),
table.tombo tr:nth-child(2) td:nth-child(5),
table.tombo tr:nth-child(2) td:nth-child(7),
table.tombo tr:nth-child(2) td:nth-child(8),
table.tombo tr:nth-child(3) td:nth-child(2),
table.tombo tr:nth-child(3) td:nth-child(8),
table.tombo tr:nth-child(5) td:nth-child(1),
table.tombo tr:nth-child(5) td:nth-child(9),
table.tombo tr:nth-child(6) td:nth-child(1),
table.tombo tr:nth-child(6) td:nth-child(9),
table.tombo tr:nth-child(8) td:nth-child(2),
table.tombo tr:nth-child(8) td:nth-child(8),
table.tombo tr:nth-child(9) td:nth-child(2),
table.tombo tr:nth-child(9) td:nth-child(3),
table.tombo tr:nth-child(9) td:nth-child(5),
table.tombo tr:nth-child(9) td:nth-child(7),
table.tombo tr:nth-child(9) td:nth-child(8),
table.tombo tr:nth-child(10) td:nth-child(2),
table.tombo tr:nth-child(10) td:nth-child(3),
table.tombo tr:nth-child(10) td:nth-child(5),
table.tombo tr:nth-child(10) td:nth-child(7),
table.tombo tr:nth-child(10) td:nth-child(8) {
 border-right-color: #333;
}
table.tombo tr:nth-child(1) td:nth-child(5),
table.tombo tr:nth-child(1) td:nth-child(6),
table.tombo tr:nth-child(2) td:nth-child(1),
table.tombo tr:nth-child(2) td:nth-child(2),
table.tombo tr:nth-child(2) td:nth-child(3),
table.tombo tr:nth-child(2) td:nth-child(8),
table.tombo tr:nth-child(2) td:nth-child(9),
table.tombo tr:nth-child(2) td:nth-child(10),
table.tombo tr:nth-child(3) td:nth-child(1),
table.tombo tr:nth-child(3) td:nth-child(2),
table.tombo tr:nth-child(3) td:nth-child(9),
table.tombo tr:nth-child(3) td:nth-child(10),
table.tombo tr:nth-child(5) td:nth-child(1),
table.tombo tr:nth-child(5) td:nth-child(2),
table.tombo tr:nth-child(5) td:nth-child(9),
table.tombo tr:nth-child(5) td:nth-child(10),
table.tombo tr:nth-child(7) td:nth-child(1),
table.tombo tr:nth-child(7) td:nth-child(2),
table.tombo tr:nth-child(7) td:nth-child(9),
table.tombo tr:nth-child(7) td:nth-child(10),
table.tombo tr:nth-child(8) td:nth-child(1),
table.tombo tr:nth-child(8) td:nth-child(2),
table.tombo tr:nth-child(8) td:nth-child(3),
table.tombo tr:nth-child(8) td:nth-child(8),
table.tombo tr:nth-child(8) td:nth-child(9),
table.tombo tr:nth-child(8) td:nth-child(10),
table.tombo tr:nth-child(9) td:nth-child(5),
table.tombo tr:nth-child(9) td:nth-child(6) {
 border-bottom-color: #333;
}
.guide {
 width: 210mm; height: 297mm; /* A4 */
 box-sizing: border-box;
 border: 1px solid rgba(127,255,255,.9);
 position:absolute;left:0;top:0;right:0;bottom:0;margin:auto;
 z-index: 1000;
}
